.content {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.gameList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gameIcon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  width: 120px;
}

.gameIconImage {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
