.content {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;
  overflow: auto;
}

.itemList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.itemIcon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  user-select: none;
  width: 110px;
}

.itemIconImage {
  width: 50px;
  height: 50px;
  object-fit: contain;
  pointer-events: none;
}

.itemIconName {
  color: #000;
  font-size: 11px;
  text-align: center;
}

.itemIconName.selected {
  background-color: #2058a1;
  color: white;
}

.selection-box {
  position: absolute;
  background: rgba(0, 175, 255, 0.2);
  border: 1px solid rgba(0, 175, 255, 0.8);
  pointer-events: none;
  z-index: 10;
}
