@import 'js-dos/dist/js-dos.css';

@font-face {
  font-family: 'MSSS';
  src: url('/assets/fonts/ms_sans_serif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MSSSB';
  src: url('/assets/fonts/ms_sans_serif_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'MSSS', Tahoma, Trebuchet MS, Arial, sans-serif;
  font-size: 12px;
  line-height: 1;
  background: #008080;
  cursor: url('/assets/cursors/default_arrow.cur'), auto;
}

button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

:root {
  --xp-gradient: rgb(31, 47, 134) 0px, rgb(49, 101, 196) 3%,
    rgb(54, 130, 229) 6%, rgb(68, 144, 230) 10%, rgb(56, 131, 229) 12%,
    rgb(43, 113, 224) 15%, rgb(38, 99, 218) 18%, rgb(35, 91, 214) 20%,
    rgb(34, 88, 213) 23%, rgb(33, 87, 214) 38%, rgb(36, 93, 219) 54%,
    rgb(37, 98, 223) 86%, rgb(36, 95, 220) 89%, rgb(33, 88, 212) 92%,
    rgb(29, 78, 192) 95%, rgb(25, 65, 165) 98%;

  --titlebar-gradient: 180deg, #0997ff, #0053ee 8%, #0050ee 40%, #06f 88%,
    #06f 93%, #005bff 95%, #003dd7 96%, #003dd7;

  --titlebar-gradient-inactive: rgb(118, 151, 231) 0%, rgb(126, 158, 227) 3%,
    rgb(148, 175, 232) 6%, rgb(151, 180, 233) 8%, rgb(130, 165, 228) 14%,
    rgb(124, 159, 226) 17%, rgb(121, 150, 222) 25%, rgb(123, 153, 225) 56%,
    rgb(130, 169, 233) 81%, rgb(128, 165, 231) 89%, rgb(123, 150, 225) 94%,
    rgb(122, 147, 223) 97%, rgb(171, 186, 227) 100%;

  --window-box-shadow-inactive: inset -1px -1px rgb(130, 165, 228),
    inset 1px 1px rgb(130, 165, 228), inset -2px -2px rgb(130, 165, 228),
    inset 2px 2px rgb(130, 165, 228), inset -3px -3px rgb(130, 165, 228),
    inset 3px 3px rgb(130, 165, 228);

  --window-box-shadow: inset -1px -1px #424fa2, inset 1px 1px #4e68d1,
    inset -2px -2px #5669c0, inset 2px 2px #528eef, inset -3px -3px #4e73d7,
    inset 3px 3px #5284da;

  --tile-box-shadow: rgb(0 0 0 / 30%) -1px 0px inset,
    rgb(255 255 255 / 20%) 1px 1px 1px inset;
  --tile-box-shadow-focus: rgb(0 0 0 / 20%) 0px 0px 1px 1px inset,
    rgb(0 0 0 / 70%) 1px 0px 1px inset;

  --system-tray: rgb(12, 89, 185) 1%, rgb(19, 158, 233) 6%,
    rgb(24, 181, 242) 10%, rgb(19, 155, 235) 14%, rgb(18, 144, 232) 19%,
    rgb(13, 141, 234) 63% 63%, rgb(13, 159, 241) 81%, rgb(15, 158, 237) 88%,
    rgb(17, 155, 233) 91%, rgb(19, 146, 226) 94%, rgb(19, 126, 215) 97%,
    rgb(9, 91, 201) 100%;

  --xp-scrollbar-size: 17px;
  --xp-scrollbar-thumb-bg: #c8d6fb;
  --xp-scrollbar-thumb-shadow-left: inset -3px 0 #bad1fc;
  --xp-scrollbar-thumb-shadow-right: inset 1px 1px #b7caf5;
  --xp-scrollbar-border: 1px solid white;
}

::-webkit-scrollbar {
  width: var(--xp-scrollbar-size);
  height: var(--xp-scrollbar-size);
}

::-webkit-scrollbar-corner {
  background: #dfdfdf;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track:vertical {
  background-image: url('/assets/scrollbar/scroll-background.svg');
}

::-webkit-scrollbar-track:horizontal {
  background-image: url('/assets/scrollbar/scroll-background-horizontal.svg');
}

::-webkit-scrollbar-thumb {
  background-color: var(--xp-scrollbar-thumb-bg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 7px;
  border: var(--xp-scrollbar-border);
  border-radius: 2px;
  box-shadow: var(--xp-scrollbar-thumb-shadow-left),
    var(--xp-scrollbar-thumb-shadow-right);
}

::-webkit-scrollbar-thumb:vertical {
  background-image: url('/assets/scrollbar/scroll-thumb.svg');
}

::-webkit-scrollbar-thumb:horizontal {
  background-size: 8px;
  background-image: url('/assets/scrollbar/scroll-thumb-horizontal.svg');
}

::-webkit-scrollbar-button {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment,
::-webkit-scrollbar-button:horizontal:end:decrement {
  display: none;
}

::-webkit-scrollbar-button:vertical:decrement {
  height: var(--xp-scrollbar-size);
  background-image: url('/assets/scrollbar/scroll-arrow-up.svg');
}

::-webkit-scrollbar-button:vertical:increment {
  height: var(--xp-scrollbar-size);
  background-image: url('/assets/scrollbar/scroll-arrow-down.svg');
}

::-webkit-scrollbar-button:horizontal:decrement {
  width: var(--xp-scrollbar-size);
  background-image: url('/assets/scrollbar/scroll-arrow-left.svg');
}

::-webkit-scrollbar-button:horizontal:increment {
  width: var(--xp-scrollbar-size);
  background-image: url('/assets/scrollbar/scroll-arrow-right.svg');
}
