.toolbar {
  display: flex;
  align-self: center;
  background-color: #ece9d8;
  width: 100%;
}

.toolbarItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 8px;
}

.icon {
  filter: grayscale(100%);
  width: 25px;
  height: 25px;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.divider {
  width: 1px;
  padding: 4px 0;
}

.dividerLine {
  width: 100%;
  height: 100%;
  border-left: 1px solid #d6d3d1;
}
