.window {
  position: absolute;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-font-smoothing: antialiased;
  width: 700px;
  height: 500px;
  min-width: 500px;
  min-height: 400px;
  z-index: 12;
  color: #0f172a;
  user-select: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.window::before {
  content: '';
  position: absolute;
  inset: 0;
  box-shadow: var(--window-box-shadow);
  pointer-events: none;
  z-index: 10;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
}
