.window {
  position: absolute;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-font-smoothing: antialiased;
  min-width: 500px;
  min-height: 400px;
  z-index: 12;
  color: #0f172a;
  user-select: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.window::before {
  content: '';
  position: absolute;
  inset: 0;
  box-shadow: var(--window-box-shadow);
  pointer-events: none;
  z-index: 10;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
}

.resizeHandle {
  position: absolute;
  background: transparent;
  z-index: 101;
}

.resizeHandle[data-direction='n'] {
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
}

.resizeHandle[data-direction='s'] {
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
}

.resizeHandle[data-direction='e'] {
  top: 0;
  right: 0;
  bottom: 0;
  width: 4px;
}

.resizeHandle[data-direction='w'] {
  top: 0;
  left: 0;
  bottom: 0;
  width: 4px;
}

.resizeHandle[data-direction='nw'] {
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
}

.resizeHandle[data-direction='ne'] {
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  z-index: 99;
}

.resizeHandle[data-direction='sw'] {
  bottom: 0;
  left: 0;
  width: 16px;
  height: 16px;
}

.resizeHandle[data-direction='se'] {
  bottom: 0;
  right: 0;
  width: 16px;
  height: 16px;
}

.resizeHandle[data-direction='n'],
.resizeHandle[data-direction='s'] {
  cursor: url('/assets/cursors/default_size4.cur'), auto;
}

.resizeHandle[data-direction='e'],
.resizeHandle[data-direction='w'] {
  cursor: url('/assets/cursors/default_size3.cur'), auto;
}

.resizeHandle[data-direction='ne'],
.resizeHandle[data-direction='sw'] {
  cursor: url('/assets/cursors/default_size1.cur'), auto;
}

.resizeHandle[data-direction='nw'],
.resizeHandle[data-direction='se'] {
  cursor: url('/assets/cursors/default_size2.cur'), auto;
}
