.startMenu {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 390px;
  height: 500px;
  background-color: rgb(66, 130, 214);
  z-index: 2000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  flex-direction: column;
}

.topBar {
  background-image: linear-gradient(
    rgb(24, 104, 206) 1%,
    rgba(255, 255, 255, 0.35) 1%,
    rgba(255, 255, 255, 0.65) 2%,
    rgba(255, 255, 255, 0.35) 1%,
    rgb(24, 104, 206) 7%,
    rgb(14, 96, 203) 20%,
    rgb(17, 100, 207) 32%,
    rgb(22, 103, 207) 33%,
    rgb(27, 108, 211) 47%,
    rgb(30, 112, 217) 54%,
    rgb(36, 118, 220) 60%,
    rgb(41, 122, 224) 65%,
    rgb(52, 130, 227) 77%,
    rgb(55, 134, 229) 79%,
    rgb(66, 142, 233) 90%,
    rgb(71, 145, 235) 100%
  );
  width: 100%;
  height: 70px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.orangeLine {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(218, 136, 74) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 2px;
}

.content {
  display: flex;
  background-color: rgb(248, 250, 252);
  margin: 0 2px;
  flex-grow: 1;
}

.bottomBar {
  background-image: linear-gradient(
    rgb(66, 130, 214) 0%,
    rgb(59, 133, 224) 3%,
    rgb(65, 138, 227) 5%,
    rgb(65, 138, 227) 17%,
    rgb(60, 135, 226) 21%,
    rgb(55, 134, 228) 26%,
    rgb(52, 130, 227) 29%,
    rgb(46, 126, 225) 39%,
    rgb(35, 116, 223) 49%,
    rgb(32, 114, 219) 57%,
    rgb(25, 110, 219) 62%,
    rgb(23, 107, 216) 72%,
    rgb(20, 104, 213) 75%,
    rgb(17, 101, 210) 83%,
    rgb(15, 97, 203) 88%
  );
  width: 100%;
  height: 40px;
}
